<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DocScanner Ionic Cordova App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card design section start  -->
  <ion-row class="ion-padding">
    <ion-col size="6">
      <ion-card class="cardContainer ion-no-margin" (click)="scanDocument(1)">
        <div class="d-flx">

          <ion-icon class="ion-padding" name="scan-outline" size="large" />
          <ion-card-subtitle>Scan</ion-card-subtitle>
          <p>Document, ID card </p>
        </div>
      </ion-card>
    </ion-col>


    <ion-col size="6">
      <ion-card class="cardContainer ion-no-margin bg2" (click)="captureImage()">
        <div class="d-flx">

          <ion-icon class="ion-padding" name="text-outline" size="large" />
          <ion-card-subtitle>Extract Text</ion-card-subtitle>
          <p>Pdf, jpg, txt</p>

        </div>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <!-- <ion-button (click)="createDirectory()">Create Directory</ion-button>
      <ion-button (click)="saveFile()">Save File</ion-button>
      <ion-button (click)="checkDirectory()">Check Directory</ion-button>
      <ion-button (click)="checkFile()">Check File</ion-button> -->
      <ion-card style="width: 100%;">
        <img src={{extractScanImage}} />

        <ion-card-content >
          <ion-label>
            <span *ngFor="let text of recognizedText ">{{text}}</span>
          </ion-label>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" *ngIf="pdfPreview">

      <div [innerHTML]="pdfPreview"></div>

    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-button class="ion-text-capitalize" fill="clear" (click)="scanDocument(0)">
        Keep Scanning
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-button class="ion-text-capitalize" shape="round" (click)="generatePDF()">
        Save PDF
      </ion-button>
    </ion-col>

  </ion-row>


</ion-content>